*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #001C30;
    padding: 26px;
    align-items: center;

    .header{
        width: 300px;
        height: 95vh;
        display: flex;
        padding: 10px;
        border: 3px #13637E solid;
        border-radius: 15px;
        flex-direction: column;
        position: relative;
        .headerBtns button{
            width: 224px;
            height: 54px;
            background-color: #13637E;
            color: #64CCC5;
            box-shadow: 4px 4px 4px 0px #64CCC5;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 23px;
        }
        .logo{
            font-size: 32px;
            font-weight: 700;
            color: #64CCC5;
            display: flex;
            align-items: flex-end;
            margin-bottom: 15px;
        }
        .logoImg{
            width: 50px;
        }
        .btn_img{
            width: 20px;
            margin-right: 7px;
        }
        #gear{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 20px;
            color: #64CCC5;
            cursor: pointer;
        }
    }
    .storageContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 10px;
        .drinkStorage{
            width: 90%;
            min-height: 200px;
            background-color: #eee;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .drinkItem{
                width: 120px;
                height: 120px;
                background-color: rgb(101, 137, 101);
                color: #fff;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }



}

.createGoodsPopup{
    width: 500px;
    min-height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    border-radius: 10px;
    justify-content: space-between;
    .createGoodsPopupInput{
        width: 90%;
        height: 40px;
        border: none;
        box-shadow: 0 0 2px #333;
        padding: 0 10px;
        outline: none;
        border-radius: 5px; 
    }
    .PopupBtn{
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 10px; 
    }
}


.orderPopup{
    width: 500px;
    min-height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    border-radius: 10px;
    justify-content: space-between;
    .orderPopup_input{
        width: 90%;
        height: 40px;
        border: none;
        box-shadow: 0 0 2px #333;
        padding: 0 10px;
        outline: none;
        border-radius: 5px; 
    }
    .PopupBtn{
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 10px; 
    }
}