* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

::-moz-selection {
  background-color: #1a7391;
  color: #64CCC5;
}

::selection {
  background-color: #1a7391;
  color: #64CCC5;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #001C30;
  padding: 26px;
}
.wrap .header {
  width: 267px;
  height: 100%;
  display: flex;
  padding: 10px;
  border: 3px #13637E solid;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
}
.wrap .header .headerBtns button {
  width: 224px;
  height: 54px;
  background-color: #13637E;
  color: #64CCC5;
  box-shadow: 4px 4px 4px 0px #3f9a94;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 23px;
}
.wrap .header .headerBtns button:hover {
  background-color: #64CCC5;
  color: #001C30;
  box-shadow: 4px 4px 4px 0px #1a7391;
}
.wrap .header .logo {
  font-size: 32px;
  font-weight: 700;
  color: #64CCC5;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.wrap .header .logoImg {
  width: 50px;
}
.wrap .header .btn_img {
  font-size: 20px;
  margin-right: 7px;
}
.wrap .header #gear {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #64CCC5;
  cursor: pointer;
}
.wrap .storageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrap .storageContainer .drinkStorage {
  width: 95%;
  height: 400px;
  padding: 10px;
  border: 3px #13637E solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrap .storageContainer .drinkStorage .drinkItem {
  width: 186px;
  height: 134px;
  background-color: #13637E;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-direction: column;
  padding: 9px;
}
.wrap .storageContainer .drinkStorage .drinkItem .drinkItem_buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9px;
  right: 9px;
}
.wrap .storageContainer .drinkStorage .drinkItem .drinkItem_buttons button {
  width: 47px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64CCC5;
  color: #001C30;
  font-size: 11px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.wrap .storageContainer .drinkStorage .drinkItem #Sell {
  margin-top: 7px;
}
.wrap .storageContainer .drinkStorage .drinkItem .drinkItem_name {
  font-size: 24px;
  font-weight: 800;
  color: #001C30;
}
.wrap .storageContainer .drinkStorage .drinkItem .drinkItem_taste {
  font-size: 14px;
  font-weight: 400;
  color: #001C30;
  margin-top: -3px;
}
.wrap .storageContainer .drinkStorage .drinkItem .drinkItem_count {
  font-size: 14px;
  font-weight: 600;
  color: #001C30;
  margin-top: 7px;
}
.wrap .storageContainer .drinkStorage .drinkItem .drinkItem_img {
  width: 120px;
  position: absolute;
  top: -70px;
  left: -10px;
}
.wrap .headerContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.createGoodsPopup {
  width: 500px;
  min-height: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -250px;
  background-color: #1a7391;
  color: #001C30;
  box-shadow: 0 0 5px #999;
  border-radius: 10px;
  justify-content: space-between;
  z-index: 999;
}
.createGoodsPopup .createGoodsPopupInput {
  width: 90%;
  height: 40px;
  border: none;
  box-shadow: 0 0 2px #333;
  padding: 0 10px;
  background-color: #001C30;
  color: #64CCC5;
  outline: none;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 0px #3f9a94;
}
.createGoodsPopup .PopupBtn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  background-color: #13637E;
  color: #64CCC5;
  box-shadow: 4px 4px 4px 0px #3f9a94;
  font-weight: 600;
}
.createGoodsPopup .PopupBtn:hover {
  background-color: #64CCC5;
  color: #001C30;
  box-shadow: 4px 4px 4px 0px #001C30;
}

.orderPopup {
  width: 500px;
  min-height: 380px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -250px;
  background-color: #1a7391;
  color: #001C30;
  box-shadow: 0 0 5px #999;
  border-radius: 10px;
  justify-content: space-between;
  z-index: 999;
}
.orderPopup .orderPopup_input {
  width: 90%;
  height: 40px;
  border: none;
  box-shadow: 0 0 2px #333;
  padding: 0 10px;
  background-color: #001C30;
  color: #64CCC5;
  outline: none;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 0px #3f9a94;
}
.orderPopup .PopupBtn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  background-color: #13637E;
  color: #64CCC5;
  box-shadow: 4px 4px 4px 0px #3f9a94;
  font-weight: 600;
}
.orderPopup .PopupBtn:hover {
  background-color: #64CCC5;
  color: #001C30;
  box-shadow: 4px 4px 4px 0px #001C30;
}/*# sourceMappingURL=style.css.map */