*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
::selection{
    background-color: #1a7391;
    color: #64CCC5;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #001C30;
    padding: 26px;

    .header{
        width: 267px;
        height: 100%;
        display: flex;
        padding: 10px;
        border: 3px #13637E solid;
        border-radius: 15px;
        flex-direction: column;
        position: relative;
        .headerBtns button{
            width: 224px;
            height: 54px;
            background-color: #13637E;
            color: #64CCC5;
            box-shadow: 4px 4px 4px 0px #3f9a94;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 23px;
        }
        .headerBtns button:hover{
            background-color: #64CCC5;
            color: #001C30;
            box-shadow: 4px 4px 4px 0px #1a7391;

        }
        .logo{
            font-size: 32px;
            font-weight: 700;
            color: #64CCC5;
            display: flex;
            align-items: flex-end;
            margin-bottom: 15px;
        }
        .logoImg{
            width: 50px;
        }
        .btn_img{
            font-size: 20px;
            margin-right: 7px;
        }
        #gear{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 20px;
            color: #64CCC5;
            cursor: pointer;
        }
    }
    .storageContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        .drinkStorage{
            width: 95%;
            height: 400px;
            padding: 10px;
            border: 3px #13637E solid;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .drinkItem{
                width: 186px;
                height: 134px;
                background-color: #13637E;
                color: #fff;
                border-radius: 10px;
                display: flex;
                justify-content: flex-end;
                position: relative;
                flex-direction: column;
                padding: 9px;

                .drinkItem_buttons{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 9px;
                    right: 9px;
                }
                .drinkItem_buttons button{
                    width: 47px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #64CCC5;
                    color: #001C30;
                    font-size: 11px;
                    font-weight: 700;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                }
                #Sell{
                    margin-top: 7px;
                }
                .drinkItem_name{
                    font-size: 24px;
                    font-weight: 800;
                    color: #001C30;
                }
                .drinkItem_taste{
                    font-size: 14px;
                    font-weight: 400;
                    color: #001C30;
                    margin-top: -3px;
                }
                .drinkItem_count{
                    font-size: 14px;
                    font-weight: 600;
                    color: #001C30;
                    margin-top: 7px;
                }
                .drinkItem_img{
                    width: 120px;
                    position: absolute;
                    top: -70px;
                    left: -10px;
                }
            }
        }
    }
    .headerContainer{
        height: 100%;
        display: flex;
        align-items: center;
    }

}

.createGoodsPopup{
    width: 500px;
    min-height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    border-radius: 10px;
    justify-content: space-between;
    .createGoodsPopupInput{
        width: 90%;
        height: 40px;
        border: none;
        box-shadow: 0 0 2px #333;
        padding: 0 10px;
        outline: none;
        border-radius: 5px; 
    }
    .PopupBtn{
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 10px; 
    }
}


.orderPopup{
    width: 500px;
    min-height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    border-radius: 10px;
    justify-content: space-between;
    .orderPopup_input{
        width: 90%;
        height: 40px;
        border: none;
        box-shadow: 0 0 2px #333;
        padding: 0 10px;
        outline: none;
        border-radius: 5px; 
    }
    .PopupBtn{
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 10px; 
    }
}